<!--<h1>Welcome#index</h1>-->
<!--<p>Find me in app/views/welcome/index.html.erb</p>-->


<center>
<div id="welcome_text_div">
            <h1 id="welcome_text">Welcome to Home</h1>
            <p id="welcome_under_text">Where you can find your peace.</p>
            <a href="#" id="how_it_works">
                How It Works
            </a>
            
</div>     
</center>


-> /welcome/index